.logo {
    position: absolute;
    left: -19px;
    top: 31px;
    transform: translate(-50%,-50%);
}


.logo{
    color: #fff;
    margin-left: 50px;
    font-size: 1.5em;
    cursor: pointer;
    transition: color .4s ease-in-out
}


.logo:hover {
    color: orange
}


/*

The rotation of the logo 
.rotate {
    animation: rotation 4s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  */